// Terminal Screen
.terminal {
  border-radius: 25px;
  margin: 0 auto;
  margin-top: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#head {
  font-family: monospace;
  color: #fff;
  margin: auto;
  padding: 35px;
  font-size: 40px;
  text-align: center;
}
#bar {
  text-align: center;
  height: 25px;
  background-color: #dad9d9;
  margin: 0 auto;
  font-family: monospace;
  float: none;
  border-radius: 8px 8px 0 0;
  @include terminalButtons();
}
#screen {
  background-color: #33485e;
  height: 100%;
  margin: 0 auto;
  padding: 1px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 0 0 8px 8px;
  margin-bottom: 50px;
  padding-bottom: 30px;
}

/* Blinking Cursor */
.cursor {
  font-size: 20px;
  display: inline-block;
  margin-left: 0px;
  &::after {
    content: "";
    width: 15px;
    height: 2px;
    background: white;
    opacity: 0;
    display: inline-block;
    animation: blink 0.55s cubic-bezier(0.075, 0.82, 0.165, 1) infinite
      alternate;
  }
}

@keyframes blink {
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
