.terminal {
  border-radius: 25px;
  margin: 0 auto;
  margin-top: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#head {
  font-family: monospace;
  color: #fff;
  margin: auto;
  padding: 35px;
  font-size: 40px;
  text-align: center;
}

#red {
  background-color: #e94b35;
  border-radius: 100%;
  width: 15px;
  height: 15px;
  margin: 0 auto;
  margin-left: 15px;
  margin-top: 5px;
  position: absolute;
}
#yellow {
  background-color: #f0f000;
  border-radius: 100%;
  width: 15px;
  height: 15px;
  margin: 0 auto;
  margin-left: 35px;
  margin-top: 5px;
  position: absolute;
  display: block;
}
#green {
  background-color: #1aaf5c;
  border-radius: 100%;
  width: 15px;
  height: 15px;
  margin: 0 auto;
  margin-left: 55px;
  margin-top: 5px;
  position: absolute;
  display: block;
}
#bar {
  text-align: center;
  height: 25px;
  background-color: #dad9d9;
  margin: 0 auto;
  font-family: monospace;
  float: none;
  border-radius: 8px 8px 0 0;
}
#screen {
  background-color: #33485e;
  height: 350px;
  margin: 0 auto;
  padding: 1px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 0 0 8px 8px;
  margin-bottom: 50px;
}

/* Blinking Cursor */
div.cursor {
  font-size: 20px;
  display: inline-block;
  margin-left: 0px;
}

div.cursor:after {
  content: "";
  width: 15px;
  height: 2px;
  background: white;
  opacity: 0;
  display: inline-block;
  animation: blink 0.55s cubic-bezier(0.075, 0.82, 0.165, 1) infinite alternate;
}

@media only screen and (max-width: 768px) {
  #screen {
    height: 430px;
  }
}

@keyframes blink {
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
