a {
  text-decoration: none;
}

.App {
  text-align: center;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  font-family: "Roboto", sans-serif;
  margin-bottom: 50px;
}

/* All components */
.transition {
  transition: all 0.5s ease;
}

/* Navbar Component */
.navbar {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 400px;
  grid-template-columns: repeat(3, 1fr);
  padding: 20px;
  font-size: 1.4em;
  margin-top: 20px;
  margin-bottom: -20px;
}

.navbar-link:after,
.contact-link a:after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 0%;
  border-bottom: 5px solid cornflowerblue;
  transition: 0.4s;
}

.navbar-link:visited,
.contact-link:visited {
  text-decoration: none;
}

.navbar-link:hover:after,
.contact-link a:hover:after {
  width: 100%;
}

.navbar span,
.navbar a {
  position: relative;
  color: #000;
  cursor: pointer;
}

.navbar a:hover {
  color: black;
}
/* Name Component */
.name {
  font-size: 4em;
  margin-top: 50px;
  text-align: center;
}

.avatar {
  top: 20px;
  left: -10px;
  position: relative;
}

/* Summary Component */
.summary {
  transition: all 0.5 ease;
  text-align: justify;
  margin-top: 50px;
  font-weight: 300;

  font-size: 1.3em;
}

/* About Component*/
.about {
  color: #fff;
  font-family: monospace;
  font-size: 15px;
  text-align: left;
  position: static;
}

.category {
  margin-top: 30px;
}

.info {
  color: #e7d184;
  text-decoration: none;
}

.info > a {
  color: hotpink;
}

.info > a:hover {
  color: fuchsia;

  background-color: darkslateblue;
}

/* ProjectContainer Component */

.projects-text {
  margin-bottom: 50px;
  font-size: 1.6em;
}

.projects-text:after,
.contact-me:after {
  content: " ";
  border: 3px solid cornflowerblue;
  display: block;
  margin: 0 auto;
  margin-top: 15px;
  width: 50px;
}

.project-container {
  display: flex;
  flex-direction: column;
}

/* ProjectItem Component */

.project-item {
  display: flex;
  flex-direction: row !important;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  margin-bottom: 30px;
  border-radius: 15px;
  border-bottom: 3px solid teal;
}

.project-image {
  margin-left: 20px;
  width: 200px;
  border-radius: 15px;
  align-self: center;
  box-shadow: 0 1px 13px rgba(0, 0, 0, 0.5);
}

.spacer {
  height: 0;
  flex: 0 1 100px;
  margin: 0 10px;
}

.project-links {
  margin-bottom: 30px;
  color: white;
  display: flex;
  justify-content: space-around;
  width: 200px;
  margin: 0 auto;
  margin-top: 20px;
}

.project-links > a {
  padding: 10px;
  border: 2px solid cornflowerblue;
  background-color: cornflowerblue;
  border-radius: 5px;
  color: inherit;
  text-transform: uppercase;
}

.project-links > a:hover {
  color: inherit;
  background-color: cornflowerblue;
  -moz-transform: translateY(-2px);
  -ms-transform: translateY(-2px);
  -o-transform: translateY(-2px);
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
}

.project-title {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 1.5em;
}

.project-text {
  display: flex;
  flex-direction: column;
}

.project-description {
  text-align: left;
  font-size: 1.2em;
  font-weight: 300;
}

.project-tech-stack {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  margin-top: 20px;
}

.tech {
  border: 2px solid teal;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  margin-left: 20px;
}

/* Contact Component */
.contact {
  margin-top: 100px;
  margin-bottom: 20px;
}

.contact-me {
  font-size: 1.6em;
}

.contact-link-container {
  display: grid;
  margin: 0 auto;
  margin-top: 50px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  line-height: 80px;
  font-size: 1.4em;
}

.contact-link-container a {
  color: black;
  text-decoration: none;
  position: relative;
}

.contact-link {
  align-self: center;
}
.contact-link a:hover {
  color: black;
}

@media only screen and (max-width: 768px) {
  .navbar {
    font-size: 1.4em;
    width: 300px;
  }
  .name {
    display: block;

    font-size: 2.5em;
  }
  .avatar {
    top: 0;
    left: 0;
  }
  .summary {
    font-size: 1.3em;
  }
  .about {
    font-size: 1.3em;
  }
  .contact {
    font-size: 1.3em;
  }
  .contact-link-container {
    font-size: 1em;
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 860px) {
  .project-image {
    display: none !important;
  }
}
